*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

html, body {
    display: flex;
    flex-direction: column;
    min-height: 99vh;
}

.header {
    display: flex;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-between;
    margin-bottom: auto;
    align-items: center;
}

.right {
    justify-content: flex-end;
    margin-right: 1em;
    margin-top: 1em;
} 

.right a {
    margin: 3px;
    padding: 3px;
    text-decoration: none;
    color: black;
    opacity: 0.75;
}

.right a input {
    background-color: rgb(83, 144, 224);
    color: rgb(243, 243, 243);
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5% 5%;
    border-color: white;
    border-style: solid;
}

.left {
    justify-content: flex-start;
    margin-left: 1em;
    margin-top: 1em;
}

.left a {
    margin: 3px;
    padding: 3px;
    text-decoration: none;
    color: black;
    opacity: 0.75;
}

.main-content {
    align-self: center;
}


.search-bar {
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    margin: 0 auto;
    width: 482px;
}

.mag-glass {
    height: 20px;
    line-height: 24px;
    margin: auto 10px;
}

.input-field {
    border: none;
    outline: none;
    display: flex;
    flex: 1;
}

.button {
    display: flex;
    justify-content:  center;
    color: #5F6368;
}

.button input {
    background-color: rgb(241, 240, 240);
    padding: 0 16px;
    margin: 11px 4px;
    border-radius: 5% 5%;
    border-color: white;
    border-style: solid;
    font-size: 14px;
    height: 36px;
    line-height: 27px;
}

a:hover {
    text-decoration: underline;
}

input[type=submit]:hover {
    border: 1px solid rgb(238, 237, 241);
}


.footer {
    display: flex;
    font-size: 13px;
    justify-content: space-between;
    background-color: #f2f2f2;
    margin-top: auto;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 40px;
    border-top: 1px solid #e4e4e4;
    width: 100%;
}

.right2 {
    justify-content: flex-end;
}

.right2 a {
    margin: 5px;
    padding: 5px;
    text-decoration: none;
    color: rgba(34, 33, 33, 0.712);
}

.left2 {
    justify-content: flex-end;
}

.left2 a {
    margin: 5px;
    padding: 5px;
    text-decoration: none;
    color: rgba(34, 33, 33, 0.712);
}